# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/
*.log
.env

# Werkzeuge
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Editoren / Betriebssysteme
.idea/
.vscode/
.DS_Store
Thumbs.db
